doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, minimal-ui')
    title Tower of Hanoi
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    #container
      #controls
        h1#title Tower of Hanoi
        label.cyl Number of discs:
        input#cylinders.cyl(type='number' value='3' min='3' max='8' autofocus)
        p: button#start Start!
        p#moves.move Moves: 
          span 0
        p#bestmoves.move Least possible moves: 
          span 0
        p#winningmessage &nbsp;
      #towercontainer
        #t1.tower
          .cylinderwrapper
        #t2.tower
          .cylinderwrapper
        #t3.tower
          .cylinderwrapper
    script(src='/vendor/lodash/lodash.min.js')
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
