#container{
  margin: 0 auto;
  text-align: center;
}
#controls{
  margin-bottom: 50px;
}
#towercontainer{
  display: inline;
  margin: 0 auto;
}
.tower{
  width: 200px;
  height: 390px;
  border: 2px blue solid;
  display: inline-block;
  position: relative;
}
.cylinderwrapper{
  vertical-align: bottom;
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
}
.cylinder{
  border: 2px black solid;
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;
  height: 30px;
}
.selected{
  border: 2px red solid;
}
