.cylinder{
  border: 2px black solid;
  height: 30px;
  margin: 0 auto;
  text-align: center;
}
.tower{
  width: 25%;
  height: 550px;
  border: 2px blue solid;
  display: inline-block;
}
#towercontainer{
  margin-top: 50px;
  display: inline;
  margin: 0 auto;
  min-height: 600px;
}
